html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}
::-webkit-scrollbar{
    width: 0;
}
.arrow{
    bottom:80px;
    right: 40px;
    position: fixed;
    font-size: 45px;
}
.arrow a{
    color: greenyellow;
}
.navbar{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #ffa600d5;
}
.title img{
    height: 90px;
    width: auto;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.links li{
    list-style: none;
    font-size: 20px;
}
.links li a{
    text-decoration: none;
    color: black;
    border: 2px;
    border-radius: 25px;
    padding: 0.5rem 2rem;
    display: block;
}

.links li a:hover , .links li a:active{
    background-color: #cc8603fd;
    border: 2px solid white;
    border-radius: 25px;
    color: blanchedalmond;
    transition:0.5s;
}
.toogleb{
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toogleb .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
@media (max-width: 800px){
    .toogleb{
        display: flex;
    }
    .links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .links ul{
        width: 100%;
        flex-direction: column;
    }
    .links li{
        text-align: center;
    }
    .links li a{
        padding: .5rem 1rem;
    }
    .links.active{
        display: flex;
    }
}
.prof{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 400px;
}
.img{
    font-size: 40px;
    color: #505b6b;
}
.name{
    padding: 20px 0;
    line-height: 40px;
    text-transform: uppercase;
}
.name h2{
    font-size: 30px;
    color: #273c75;
}
.name h1{
    padding: 20px 0;
    color: #e84118;
}
.others{
    color: #4cd137;
}

#main-footer{
    margin-top: 0;
    background-color:rgb(19, 18, 18);
    color:#fff;
    text-align:center;
    padding:20px;
}
#main-footer a{
    text-decoration: none;
    color: #e84118;
}