<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM</title>
    <link rel="stylesheet" href="{{url_for('static',filename='forum.css')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='icon.png')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{url_for('static',filename='script.js')}}" defer></script>
    <script>
		$(document).ready(function(){
			$(".btn").click(function(){
			  $("input[type='text'], textarea").val("");
			});
		});
    </script>
</head>
<body>
    <div class="arrow">
    <a href="#"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
    </div>
    <nav class="navbar">
            <div class="title"><a href="#"><img src="{{url_for('static',filename='logoup.png')}}" alt=""></a></div>
            <a href="#" class="toogleb">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="links">
                <ul>
                    <li><a href="{{url_for('main.home')}}">Home</a></li>
                    <li><a href="{{ url_for ('main.team') }}">Team</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="{{url_for('main.profile')}}">Profile</a></li>
                </ul>
            </div>
        </nav>
        <a href="mailto:coe18b029@iiitdm.ac.in">
            <img CLASS="mail" src="{{url_for('static',filename='mail.png')}}" alt="our mail">
          </a>
        
        </body>
    <footer id="main-footer">
        <p>&copy 2020 DIGILIB | Digital Library Website designed by CSE-18 batch | <a href="https://www.iiitdm.ac.in" target="_blank">IIITDM</a></p>   
   </footer>
</body>        
</html>